
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}
.px-8 {
    padding-left: 2rem;
    padding-right: 2rem
}

.z-40 {
    z-index: 40
}

.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgba(0,0,0,var(--tw-bg-opacity))
}
#left{
    margin-left: 4rem
}

.top-0 {
    top: 0
}
.left-0 {
    left: 0
}

.invisible {
    visibility: hidden
}

.pt-8 {
    padding-top: 2rem
}


.h-20 {
    height: 5rem
}


.duration-300 {
    transition-duration: .3s
}
.blur-lg {
    --tw-blur: blur(16px)
}

.backdrop-blur-md {
    --tw-backdrop-blur: blur(12px)
}
.bg-opacity-30 {
    --tw-bg-opacity: 0.3
}
.backdrop-filter {
    --tw-backdrop-blur: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-brightness: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-contrast: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-grayscale: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-invert: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-opacity: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-saturate: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-sepia: var(--tw-empty,/*!*/ /*!*/);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.-ml-4 {
    margin-left: -1rem
}
.relative {
    position: relative
}

.-right-36 {
    right: -9rem
}
.-top-36 {
    top: -9rem
}


.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
}
.uppercase {
    text-transform: uppercase
}

.font-greek {
    font-family: Concrete
}
.max-w-3xl {
    max-width: 48rem
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem
}
.text-xl {
    font-size: 1.25rem
}
.font-bold {
    font-weight: 700
}
.orangeButton:hover {
    z-index: 999;
    filter: drop-shadow(0 0 35px rgba(232,147,75,.7));
    cursor: pointer
}
.z-10 {
    z-index: 10
}
.w-64 {
    width: 16rem
}

.text-black {
    --tw-text-opacity: 1;
    color: rgba(0,0,0,var(--tw-text-opacity))
}
.drop-shadow {
    --tw-drop-shadow: drop-shadow(0 1px 2px rgba(0,0,0,0.1)) drop-shadow(0 1px 1px rgba(0,0,0,0.06))
}
.text-gold-main {
    --tw-text-opacity: 1;
    color: rgba(232,147,75,var(--tw-text-opacity))
}
.mt-9 {
    margin-top: 2.25rem
}

.inline-flex {
    display: inline-flex
}
.mb-2 {
    margin-bottom: .5rem
}
.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgba(107,114,128,var(--tw-text-opacity))
}
.gap-x-16 {
    column-gap: 4rem
}
.gap-y-4 {
    row-gap: 1rem
}

.grid-cols-8 {
    grid-template-columns: repeat(8,minmax(0,1fr))
}
