.css-hboir5 {
    display: flex;
    width: 100%;
}
.css-17hovqr {
    display: flex;
    width: 100%;
    position: relative;
}
.css-1uffe4o {
    position: relative;
    min-height: 510px;
    width: 100%;
}
.css-gcvgqh {
    display: flex;
    position: absolute;
    z-index: 9;
    bottom: 0px;
    width: 100%;
}
@media screen and (min-width: 80em)
{
.css-nvpivh {
    height: 45%;
    font-size: 16px;
}
}
@media screen and (min-width: 62em)
{
.css-nvpivh {
    height: 45%;
    font-size: 14px;
}
}
@media screen and (min-width: 48em)
{
.css-nvpivh {
    height: 45%;
    font-size: 12px;
}
}
@media screen and (min-width: 30em)
{

    .css-nvpivh {
        height: 45%;
        font-size: 12px;
    }
}

.css-nvpivh {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: end;
    background: rgba(23, 25, 35, 0.5);
    width: 100%;
    position: absolute;
    height: 48%;
    bottom: 0px;
    font-size: 23px;
    font-weight: 400;
    color: rgb(113, 128, 150);
}
.css-1g4yje1 {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.css-q4qa8f {
    display: flex;
    background:#1ac486;
}
.css-sz0ygj {
    text-align: center;
    margin-top: 22px;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
@media screen and (min-width: 80em)
{
.css-sz0ygj {
    margin-top: 82px;
    margin-bottom: 20px;
    font-size: 44px;
}
}
.css-1cb7prk {
    text-align: center;
    margin-bottom: 8px;
}
@media screen and (min-width: 80em)
{
    .css-1cb7prk {
        margin-bottom: 20px;
    }
}
.css-a4et35 {
    width: 100%;
    margin-inline: auto;
    margin-bottom: 8px;
    text-align: center;
}
@media screen and (min-width: 80em)
{
.css-a4et35 {
    margin-bottom: 20px;
}

}
@media screen and (min-width: 80em)
{
.css-1fdq3u3 {
    width: 20%;
}
}
@media screen and (min-width: 62em)
{
.css-1fdq3u3 {
    width: 20%;
}
}
@media screen and (min-width: 48em)
{
.css-1fdq3u3 {
    width: 20%;
}
}
@media screen and (min-width: 30em)
{
.css-1fdq3u3 {
    width: 25%;
}
}
.css-1fdq3u3 {
    transition-property: cubic-bezier(0.4, 0, 1, 1);
    transition-duration: cubic-bezier(0.4, 0, 1, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    cursor: pointer;
    text-decoration: none;
    outline: transparent solid 2px;
    outline-offset: 2px;
    color: inherit;
    width: 30%;
    margin-inline: auto;
}
@media screen and (min-width: 80em)
{
.css-eypwkz {
    height: 56px;
    font-size: 16px;
}
}
.css-eypwkz {
    display: inline-flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    width: 58%;
    line-height: 1.2;
    border-radius: 16px;
    font-weight: 500;
    font-weight: 500;
    height: 74px;
    min-width: 3.5rem;
    font-size: 25px;
    padding-inline-start: 1rem;
    padding-inline-end: 2rem;
    margin-bottom: 60px;
    background: #1ac486;
    color: #fff;
    margin-top: 10px;
    border: none;
    margin-left: 104px;
}
.css-eypwkz:hover,.css-eypwkz[data-hover]{
       background: #38A169;
}
@media screen and (max-width: 600px){
    .css-hboir5{
        margin-top: 129%;
    }
    .css-1uffe4o{
          width: 100%;
    }
    .css-1g4yje1 {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .css-gcvgqh{
        display: none;
    }
    .css-eypwkz{
        height: 47px;
        min-width: 9.5rem;
        margin-left: -25px;
        font-size: 22px;
        margin-top: -1px;
    }
    .css-nvpivh{
        font-size: 16px;
        font-weight: 500;
    }
}